<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bob Dry Illustration {% if page.title %}&mdash; {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="shortcut icon" href="dp_d.ico">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link href="https://fonts.googleapis.com/css?family=Enriqueta:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ "/dist/bootstrap.min.css" | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" type="text/css" href="{{ "/dist/main.min.css" | prepend: site.baseurl | prepend: site.url }}">
</head>