<!-- header container -->
<div id="header">
		<div class="units-row units-split end">
    		<div class="unit-100">
            <a href="{{ "/" | prepend: site.baseurl | prepend: site.url }}"><img src="{{ "/images/bob_dry_illustration.png" | prepend: site.baseurl | prepend: site.url }}" class="logo" alt="Bob Dry Illustration" height="120" width="340"/></a>             
            </div>
		</div>
</div>
<!-- blue container -->
<div id="blue_container">
        <div id="blue">
        <nav id="navbar-1" class="navbar end">
        <ul>
        <li><a href="{{ "/" | prepend: site.baseurl | prepend: site.url }}">HOME</a></li>
        <li><a href="{{ "/contact.html" | prepend: site.baseurl | prepend: site.url }}">CONTACT</a></li>
        <li><a href="http://www.twitter.com/elbobmasgrande">FOLLOW</a></li>
        </ul>
        </nav>
        </div>
</div>