<!-- header container -->
<div class="header-wrapper">
    <div class="header">
            <a href="{{ "/" | prepend: site.baseurl | prepend: site.url }}"><img src="{{ "/images/bob_dry_illustration.png" | prepend: site.baseurl | prepend: site.url }}" class="logo img-fluid" alt="Bob Dry Illustration" height="120" width="340"/></a>             
    <!-- blue container -->
    <div class="nav-blue">
        <nav>
        <ul>
        <li><a href="{{ "/" | prepend: site.baseurl | prepend: site.url }}">HOME</a></li><li><a href="{{ "/contact.html" | prepend: site.baseurl | prepend: site.url }}">CONTACT</a></li><li><a href="http://www.twitter.com/elbobmasgrande">FOLLOW</a></li>
        </ul>
        </nav>
    </div>
    </div>
</div>