<div class="basic-info">
<h2><span>ABOUT</span> BOB</h2>
<p>I&rsquo;ve worked in the creative industry for many years. As an illustrator I&rsquo;ve drawn for The Izaak Walton League, Nature&rsquo;s Delight, Campbell Magazine, Corona and Modelo Beers and a few others.</p> 
<div class="mug float-right text-center ml-3 mr-3">
    <div class="mug-anim"><img src="{{ "images/my_mug_anim.gif" | prepend: site.baseurl }}"/></div>
    <img src="{{ "images/my_mug_one.png" | prepend: site.baseurl }}" class="mug"/><br><em>mug </em>
</div> 
<p>My style combines the sincerity of drawing with the vibrancy of digital color. My pitch to clients, in our image heavy world one of my original illustrations will make someone pause and appreciate your idea.</p>  
<h2><span>AS FOR</span> INSPIRATION</h2>
<p>I&rsquo;m inspired by our species &mdash; how we get along and how we don&rsquo;t. Being a kid of the 80&rsquo;s, cartoons, comics and movies had me dreaming big well before everything went digital. When I wake up in the morning, I like a cup of coffee and a seat at the drafting table. Mind and hand, let the drawing flow.
<div class="about_image">
    <div class="cloniger-anim"><img src="{{ "images/cloniger-anim-400.gif" | prepend: site.baseurl }}" class="img-fluid"/></div>
    <img src="{{ "images/cloniger.png" | prepend: site.baseurl }}" class="cloniger img-fluid"/><em>grandfather &ndash; floating on the family pond, reading his paper</em>
</div>
</p>
</div>
