<div class="basic-info">
<h2><span>ABOUT</span> BOB</h2>
<p>I&rsquo;ve worked in the creative industry for a long time. As an illustrator I&rsquo;ve drawn for The Izaak Walton League, Nature&rsquo;s Delight, Campbell Magazine, Corona and Modelo Beers and a few others.</p> <div class="mug float-right text-center ml-2"><img src="/images/my_mug_one.png" class="mug"/><br><em>my mug</em></div> 
<p>My illustration style combines the sincerity of drawing with the vibrancy of digital color application. I offer clients strong visual narratives that help their audiences better engage with the content.</p>  
<h2><span>AS FOR</span> INSPIRATION</h2>
<p>I&rsquo;m inspired by our species, how we get along and how we don&rsquo;t. Being a kid of the 80&rsquo;s &ndash; cartoons, comics and vhs had me dreaming big well before everything went digital. There&rsquo;s outside time, friends, family, and a life full of goodness
<div class="about_image"><img src="/images/cloniger.png" class="cloniger img-fluid"/><em>my grandfather, Cloniger &ndash; floating on the family pond, reading his paper</em></div></p>
</div>