<footer>
	<p class="copy text-center">
		<a class="bd-icons" href="/contact/">
			<svg>
				<use xlink:href="/images/v3/bd-icons.svg#envelope" />
			</svg>
		</a>
		<a class="bd-icons" href="https://www.youtube.com/channel/UC83hIS-0ep4isgbr1DUa3xw" target="_blank">
			<svg>
				<use xlink:href="/images/v3/bd-icons.svg#youtube" />
			</svg>
		</a>
		<a class="bd-icons" href="https://twitter.com/bobbyDdry" target="_blank">
			<svg>
				<use xlink:href="/images/v3/bd-icons.svg#X" />
			</svg>
		</a>
	</p>
	<p class="copy text-center">&copy;2024 Bob Dry Illustration, All rights reserved.</p>
</footer>
<!-- JS -->  
<script type="text/JavaScript" src="/dist/bootstrap.min.js"></script>
<script type="text/JavaScript" src="/dist/main.min.js"></script>
