<!-- nav container -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bd-nav">
    <div class="container-fluid">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <strong><a class="nav-link text-center" href="{{ "" | prepend: site.baseurl }}">HOME</a></strong>
              </li>
              <li class="nav-item">
                <strong><a class="nav-link text-center" href="{{ "about/" | prepend: site.baseurl }}">ABOUT</a></strong>
              </li>
              <li class="nav-item">
                <strong><a class="nav-link text-center" href="{{ "comics/" | prepend: site.baseurl }}">COMICS</a></strong>
              </li>
              <li class="nav-item">
                <strong><a class="nav-link text-center" href="{{ "contact/" | prepend: site.baseurl }}">CONTACT</a></strong>
              </li>
            </ul>    
    </div>
</nav>