<!-- nav container -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bd-nav">
    <div class="container-fluid">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <strong><a class="nav-link text-center" href="/">HOME</a></strong>
              </li>
              <li class="nav-item">
                <strong><a class="nav-link text-center" href="/about/">ABOUT</a></strong>
              </li>
              <li class="nav-item">
                <strong><a class="nav-link text-center" href="/comics/">COMICS</a></strong>
              </li>
              <li class="nav-item">
                <strong><a class="nav-link text-center" href="/contact/">CONTACT</a></strong>
              </li>
            </ul>    
    </div>
</nav>