---
layout: default-no-sidebar
---
<div class="post">

  <article class="post-content">
    {{ content }}
  </article>
    <div class="row">
    <div class="col-md-6 article-desc">
        <p>{{ page.title }}</p>
        <p>{{ page.description }}</p>
    </div>
    <div class="col-md-6 pagination">
        <p>
        <span id="bdPrev"></span>
        Page: 
        <span id="bdCurrPage"></span>
        of 
        <span id="bdTotPage"></span>
        <span id="bdNext"></span>
        </p>
        <p>Sets: <a href="/five/five-1/">Five Steps Away</a></p>
    </div>
    </div>

</div>