---
layout: default-no-sidebar
---

<div class="row no-gutter">
    <div class="col-md-8 no-gutter">

        <div class="order-form">
            {{ content }}
        </div>
        
    </div>
    <div class="col-md-4">
        <div class="mt-3 p-md-3">
            <div class="basic-info comixology-ad p-4">
                Buy <a href='https://www.amazon.com/gp/product/B09L2KFYTY' target='_blank'><strong>Digital</strong></a> on <strong>Amazon Kindle!</strong>     
            </div>
        </div>

    </div>
</div>