---
layout: default
---
<div class="post">

  <div class="row g-0 row-cols-1 row-cols-lg-3">
    <div class="col-lg-3 bd-home-thumbs">
    <!-- deets -->
    <div class="article-desc">
      <h1 class="text-center w-100 ps-4 pe-4 ps-lg-2 pe-lg-3 ps-xl-4 pe-xl-4">{{ page.title | smartify }}</h1>
      <p class="text-center w-100 ps-4 pe-4 ps-lg-2 pe-lg-3 ps-xl-4 pe-xl-4">{{ page.description | smartify }}</p>
  </div>
  <div class="pagination pagination-ice">
    <p class="text-center w-100"><a href="{{ "ice/ice-1.html" | prepend: site.baseurl }}" class="no-paginator d-none d-md-block">Cover</a></p>
  </div>

    </div>
    <div class="col-lg-9">
      <article class="post-content ice-chapter">
        <h2>1: Detour</h2>
      </article>
      <article class="post-content ice-page">
        <div class="row g-0 row-cols-1 row-cols-lg-3">
          <!-- p1 -->
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p1-f1.jpg" class="img-fluid" alt="page 1, frame 1" loading="lazy" width="2400" height="864">
              <p>Starting on the highway from Pittsburgh, the Kingdom family,</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p1-f2.jpg" class="img-fluid" alt="page 1, frame 2" loading="lazy" width="1200" height="528">
              <p><strong>Wilson,</strong></p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p1-f3.jpg" class="img-fluid" alt="page 1, frame 3" loading="lazy" width="1200" height="528">
              <p><strong>Monica,</strong></p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p1-f4.jpg" class="img-fluid" alt="page 1, frame 4" loading="lazy" width="1200" height="530">
              <p><strong>Lucy</strong></p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p1-f5.jpg" class="img-fluid" alt="page 1, frame 5" loading="lazy" width="1200" height="530">
              <p class="mx-xl-4">and <strong>Max</strong> are going home to Cincinatti after having spent a lovely holiday weekend with Wilson&rsquo;s parents.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p1-f6.jpg" class="img-fluid" alt="page 1, frame 6" loading="lazy" width="2400" height="578">
              <p>In the middle of nowhere Monica, who is eight months pregnant, informs Wilson they must find a bathroom <strong>now</strong>.</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p1-f7.jpg" class="img-fluid" alt="page 1, frame 7" loading="lazy" width="1200" height="886">
              <p>&ldquo;Honey, we&rsquo;re in the middle of nowhere.&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p1-f8.jpg" class="img-fluid" alt="page 1, frame 8" loading="lazy" width="1200" height="886">
              <p class="mx-xl-5">&ldquo;Find one now or we&rsquo;re going to have a <strong>mess</strong>.&rdquo; Monica assures him.</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p2-f1.jpg" class="img-fluid" alt="page 2, frame 1" loading="lazy" width="1200" height="886">
              <p class="mx-xl-5">Luckily there&rsquo;s a random exit with what looks to be a gas station 3 miles off the highway.</p>
            </span>
          </div>
          <!-- p2 -->
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p2-f2.jpg" class="img-fluid" alt="page 2, frame 2" loading="lazy" width="1200" height="886">
              <p class="mx-xl-5">As they drive down a country road that 3 miles seems a lot further.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p2-f3.jpg" class="img-fluid" alt="page 2, frame 3" loading="lazy" width="2400" height="1100">
              <p class="mx-xl-5 ice-mx-xl-70">Wilson remarks, &ldquo;Gosh that highway sign said 3 miles but it feels like we&rsquo;ve gone 5 already.&rdquo;  &ldquo;Oh oh oh&rdquo; Monica stresses, &ldquo;I&rsquo;m about to <strong>pop!</strong>&rdquo;</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p2-f4.jpg" class="img-fluid" alt="page 2, frame 4" loading="lazy" width="2400" height="1510">
              <p>Then around a curve there it is, an old gas station, <strong>Chad&rsquo;s Gas &amp; Grill</strong>. They pull over.</p>
            </span>
          </div>
          <!-- p3 -->
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p3-f1.jpg" class="img-fluid" alt="page 3, frame 1" loading="lazy" width="2400" height="1044">
              <p>Monica <strong>bursts</strong> from the family van.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p3-f2.jpg" class="img-fluid" alt="page 3, frame 2" loading="lazy" width="2400" height="794">
              <p>The rest of them make their way inside.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p3-f3.jpg" class="img-fluid" alt="page 3, frame 3" loading="lazy" width="2400" height="792">
              <p>The kids tell each other all the snacks they&rsquo;ll get</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p3-f4.jpg" class="img-fluid" alt="page 3, frame 4" loading="lazy" width="2400" height="794">
              <p>and head straight for the junk food aisle.</p>
            </span>
          </div>
          <!-- p4 -->
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p4-f1.jpg" class="img-fluid" alt="page 4, frame 1" loading="lazy" width="1200" height="1120">
              <p class="mx-xl-5">Wilson approaches the counter. A scruffy fella greets him. &ldquo;Hey buddy, what cha need?&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p4-f2.jpg" class="img-fluid" alt="page 4, frame 2" loading="lazy" width="1200" height="1120">
              <p class="mx-xl-5">&ldquo;I&rsquo;ll take $40 on pump 1 out there plus whatever snacks the kids decide on.&rdquo;</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p4-f3.jpg" class="img-fluid" alt="page 4, frame 3" loading="lazy" width="2400" height="1510">
              <p>Wilson laughs a little as he turns to look at Lucy and Max.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p4-f4.jpg" class="img-fluid" alt="page 4, frame 4" loading="lazy" width="2400" height="880">
              <p>Scruffy fella says, &ldquo;Sure buddy. Hey, got a question for ya.&rdquo;</p>
            </span>
          </div>
        </div>
      </article>
    </div>
  </div>

</div>