---
layout: default
---
<div class="post">
    <div class="col">
      <article class="post-content ice-chapter">
        <h2>8: Below</h2>
      </article>
      <article class="post-content ice-page">
        <div class="row g-4 row-cols-1 row-cols-lg-3">
          <!-- p23 -->
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="/images/v3/ice/p23-f1.jpg" class="img-fluid" alt="page 23, frame 1" loading="lazy" width="1200" height="1016">
              <p class="mx-xl-4">Cool, lumpy and damp.</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="/images/v3/ice/p23-f2.jpg" class="img-fluid" alt="page 23, frame 2" loading="lazy" width="1200" height="1016">
              <p>Wilson wakes up from a really bad dream.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="/images/v3/ice/p23-f3.jpg" class="img-fluid" alt="page 23, frame 3" loading="lazy" width="2400" height="1368">
              <p>The hounds let him know, immediately, he is not free to move.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="/images/v3/ice/p23-f4.jpg" class="img-fluid" alt="page 23, frame 4" loading="lazy" width="2400" height="1368">
              <p>Jesse, the German shepherd, can crush a man&rsquo;s femur like it&rsquo;s a toothpick.</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="/images/v3/ice/p23-f5.jpg" class="img-fluid" alt="page 23, frame 5" loading="lazy" width="1200" height="1016">
              <p class="mx-xl-4">They back off and circle behind him.</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="/images/v3/ice/p23-f6.jpg" class="img-fluid" alt="page 23, frame 6" loading="lazy" width="1200" height="1016">
            </span>
          </div>

          <div class="col-6">
            <span class="ice-chapter-paging text-start"><a href="/ice/ice-7.html" class="no-paginator">&laquo; 7: Questioning</a></span>
          </div>
          <div class="col-6">
            <span class="ice-chapter-paging text-end link-disabled">9: The Deal</span>
          </div>
        </div>
      </article>
    </div>
  </div>

</div>