---
layout: default
---
<div class="post">
    <div class="col">
      <article class="post-content ice-chapter">
        <h2>1: Detour</h2>
      </article>
      <article class="post-content ice-page">
        <div class="row g-0 row-cols-1 row-cols-lg-3">
          <!-- p1 -->
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p1-f1.jpg" class="img-fluid" alt="page 1, frame 1" loading="lazy" width="2400" height="864">
              <p>Traveling from Philadelphia, the Kingdom family &mdash;</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p1-f2.jpg" class="img-fluid" alt="page 1, frame 2" loading="lazy" width="1200" height="528">
              <p><strong>Wilson,</strong></p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p1-f3.jpg" class="img-fluid" alt="page 1, frame 3" loading="lazy" width="1200" height="528">
              <p><strong>Monica,</strong></p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p1-f4.jpg" class="img-fluid" alt="page 1, frame 4" loading="lazy" width="1200" height="530">
              <p><strong>Lucy,</strong></p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p1-f5.jpg" class="img-fluid" alt="page 1, frame 5" loading="lazy" width="1200" height="530">
              <p class="mx-xl-4">and <strong>Max</strong> are on their way home to Cincinnati after a lovely Christmas weekend with Wilson&rsquo;s parents.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p1-f6.jpg" class="img-fluid" alt="page 1, frame 6" loading="lazy" width="2400" height="578">
              <p>On the other side of Pittsburgh, Monica, who is eight months pregnant, informs Wilson they must find a bathroom <em>now</em>.</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p1-f7.jpg" class="img-fluid" alt="page 1, frame 7" loading="lazy" width="1200" height="886">
              <p>&ldquo;Babe, we&rsquo;re in the middle of nowhere.&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p1-f8.jpg" class="img-fluid" alt="page 1, frame 8" loading="lazy" width="1200" height="886">
              <p class="mx-xl-5">&ldquo;Find one now or we&rsquo;re going to have a mess,&rdquo; Monica assures him.</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p2-f1.jpg" class="img-fluid" alt="page 2, frame 1" loading="lazy" width="1200" height="886">
              <p class="mx-xl-5">Luckily, there&rsquo;s a random exit with what looks to be a gas station three miles off the highway.</p>
            </span>
          </div>
          <!-- p2 -->
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p2-f2.jpg" class="img-fluid" alt="page 2, frame 2" loading="lazy" width="1200" height="886">
              <p class="mx-xl-5">As they drive down a country road, that three miles seems a lot farther.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p2-f3.jpg" class="img-fluid" alt="page 2, frame 3" loading="lazy" width="2400" height="1100">
              <p class="mx-xl-5 ice-mx-xl-70">Wilson remarks, &ldquo;that highway sign said three miles but it feels like we&rsquo;ve gone five already.&rdquo;  &ldquo;Oh-oh-oh,&rdquo; Monica stresses, &ldquo;I&rsquo;m about to pop!&rdquo;</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p2-f4.jpg" class="img-fluid" alt="page 2, frame 4" loading="lazy" width="2400" height="1510">
              <p>Then, around a curve, there it is &mdash; an old gas station, <strong>Chad&rsquo;s Gas &amp; Grill</strong>. They pull over.</p>
            </span>
          </div>
          <!-- p3 -->
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p3-f1.jpg" class="img-fluid" alt="page 3, frame 1" loading="lazy" width="2400" height="1044">
              <p>Monica bursts from the family van.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p3-f2.jpg" class="img-fluid" alt="page 3, frame 2" loading="lazy" width="2400" height="794">
              <p>The rest of them make their way inside.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p3-f3.jpg" class="img-fluid" alt="page 3, frame 3" loading="lazy" width="2400" height="792">
              <p>The kids tell each other all the snacks they&rsquo;ll get and&hellip;</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p3-f4.jpg" class="img-fluid" alt="page 3, frame 4" loading="lazy" width="2400" height="794">
              <p>head straight for the junk food aisle.</p>
            </span>
          </div>
          <!-- p4 -->
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p4-f1.jpg" class="img-fluid" alt="page 4, frame 1" loading="lazy" width="1200" height="1120">
              <p class="mx-xl-5">Wilson approaches the counter. A scruffy guy greets him. &ldquo;Hey buddy, what cha need?&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p4-f2.jpg" class="img-fluid" alt="page 4, frame 2" loading="lazy" width="1200" height="1120">
              <p class="mx-xl-5">&ldquo;I&rsquo;ll take $40 on pump two out there plus whatever snacks the kids decide on.&rdquo;</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p4-f3.jpg" class="img-fluid" alt="page 4, frame 3" loading="lazy" width="2400" height="1510">
              <p>Wilson laughs a little as he turns to look at Lucy and Max.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p4-f4.jpg" class="img-fluid" alt="page 4, frame 4" loading="lazy" width="2400" height="880">
              <p>Scruffy fella says, &ldquo;Sure buddy. Hey, got a question for ya.&rdquo;</p>
            </span>
          </div>
          <div class="col-3">
            <span class="ice-chapter-paging text-start"><a href="{{ "ice/" | prepend: site.baseurl }}" class="no-paginator">&laquo; Cover</a></span>
          </div>
          <div class="col-9">
            <span class="ice-chapter-paging text-end link-disabled"><a href="{{ "ice/ice-2.html" | prepend: site.baseurl }}" class="no-paginator">2: Creepy &raquo;</a></span>
          </div>
        </div>
      </article>
    </div>
  </div>

</div>