---
layout: default
---
<div class="post">
    <div class="col">
      <article class="post-content ice-chapter">
        <h2>3: Wreck</h2>
      </article>
      <article class="post-content ice-page">
        <div class="row g-0 row-cols-1 row-cols-lg-3">
          <!-- p5 -->
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p8-f1.jpg" class="img-fluid" alt="page 8, frame 1" loading="lazy" width="2400" height="578">
              <p><em>fooosh</em></p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p8-f2.jpg" class="img-fluid" alt="page 8, frame 2" loading="lazy" width="1200" height="538">
              <p class="mx-xl-4">The conditions get even worse. He swears the road wasn&rsquo;t this curvy on the way in.</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p8-f3.jpg" class="img-fluid" alt="page 8, frame 3" loading="lazy" width="1200" height="538">
              <p class="mx-xl-4"><em>thunk thunk thunk thunk thunk thunk</em></p>             
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p8-f4.jpg" class="img-fluid" alt="page 8, frame 4" loading="lazy" width="1200" height="538">
              <p class="mx-xl-4">He shouldn&rsquo;t be doing this. He can barely see the road. Woah! That curve is way too tight!</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p8-f5.jpg" class="img-fluid" alt="page 8, frame 5" loading="lazy" width="1200" height="538">
              <p class="mx-xl-4"><em>kooosh</em></p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p8-f6.jpg" class="img-fluid" alt="page 8, frame 6" loading="lazy" width="1200" height="888">
              <p>Total loss of traction.</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p8-f7.jpg" class="img-fluid" alt="page 8, frame 7" loading="lazy" width="1200" height="888">
              <p>Total loss of control.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p8-f8.jpg" class="img-fluid" alt="page 8, frame 8" loading="lazy" width="2400" height="864">
              <p>And they&rsquo;re in the ditch.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p9-f1.jpg" class="img-fluid" alt="page 9, frame 1" loading="lazy" width="2400" height="852">
              <p>Wilson panics, &ldquo;Is everyone ok? Monica are you ok? Lucy?!? Max ?!?&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p9-f2.jpg" class="img-fluid" alt="page 9, frame 2" loading="lazy" width="1200" height="882">
              <p>&ldquo;Yes, I <em>think</em> &nbsp;we're ok.&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p9-f3.jpg" class="img-fluid" alt="page 9, frame 3" loading="lazy" width="1200" height="882">
              <p>&ldquo;Yeah dad, we&rsquo;re ok, other than the choco milk and pop bath we just got. Gross.&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p9-f4.jpg" class="img-fluid" alt="page 9, frame 4" loading="lazy" width="1200" height="882">
              <p>&ldquo;This weather is horrible. There was nothing like this in the forecast when we left your parent&rsquo;s house. I feel awful dragging us out here for a potty break. I&rsquo;m calling Triple A.&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p9-f5.jpg" class="img-fluid" alt="page 9, frame 5" loading="lazy" width="1200" height="882">
              <p>&ldquo;Now just wait a minute, let me get out and see what the situation is. Maybe we can get back on the road.&rdquo;</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p9-f6.jpg" class="img-fluid" alt="page 9, frame 6" loading="lazy" width="2400" height="850">
              <p>&ldquo;Just give me a chance to look.&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p10-f1.jpg" class="img-fluid" alt="page 10, frame 1" loading="lazy" width="1200" height="1114">
              <p>Out of the van, Wilson can see that they are indeed stuck. The left front tire is badly bent up and under the van.</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p10-f2.jpg" class="img-fluid" alt="page 10, frame 2" loading="lazy" width="1200" height="1114">
              <p>The ice and sleet ease up.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p10-f3.jpg" class="img-fluid" alt="page 10, frame 3" loading="lazy" width="2400" height="842">
              <p>They must of skidded more than 100 feet into the ditch.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p10-f4.jpg" class="img-fluid" alt="page 10, frame 4" loading="lazy" width="2400" height="1524">
              <p>There&rsquo;s probably a half inch of ice accumulated on the asphalt.</p>
            </span>
          </div>
          <div class="col-12 col-md-8">
            <span class="ice-frame">
              <img src="../images/v3/ice/p11-f1.jpg" class="img-fluid" alt="page 11, frame 1" loading="lazy" width="1600" height="946">
              <p>It&rsquo;s cold. <em>Really cold.</em> And Monica, as usual, knows best. They&rsquo;ll have to call Triple A to get them out of this mess.</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="../images/v3/ice/p11-f2.jpg" class="img-fluid" alt="page 11, frame 2" loading="lazy" width="800" height="946">
              <p>He turns to head back to the van.</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="../images/v3/ice/p11-f3.jpg" class="img-fluid" alt="page 11, frame 3" loading="lazy" width="800" height="946">
              <p>Easy now.</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="../images/v3/ice/p11-f4.jpg" class="img-fluid" alt="page 11, frame 4" loading="lazy" width="800" height="946">
              <p>Trying to stabilize.</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="../images/v3/ice/p11-f5.jpg" class="img-fluid" alt="page 11, frame 5" loading="lazy" width="800" height="946">
              <p>And failing.</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="../images/v3/ice/p11-f6.jpg" class="img-fluid" alt="page 11, frame 6" loading="lazy" width="800" height="1724">
              <p><em>ka crunch crack</em></p>
            </span>
          </div>
          <div class="col-12 col-md-8">
            <span class="ice-frame">
              <img src="../images/v3/ice/p11-f7.jpg" class="img-fluid" alt="page 11, frame 7" loading="lazy" width="1600" height="1724">
              <p>&ldquo;Ooo, my back.&rdquo; Wilson exhales a little pain and a lot of frustration.</p>
            </span>
          </div>

          <div class="col-3">
            <span class="ice-chapter-paging text-start"><a href="{{ "ice/ice-2.html" | prepend: site.baseurl }}" class="no-paginator">&laquo; 2: Creepy</a></span>
          </div>
          <div class="col-9">
            <span class="ice-chapter-paging text-end link-disabled">4: Ambush</span>
          </div>
        </div>
      </article>
    </div>
  </div>

</div>