---
layout: default
---
<div class="post">
    <div class="col">
      <article class="post-content ice-chapter">
        <h2>4: Ambush</h2>
      </article>
      <article class="post-content ice-page">
        <div class="row g-0 row-cols-1 row-cols-lg-3">
          <!-- p5 -->
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p12-f1.jpg" class="img-fluid" alt="page 12, frame 1" loading="lazy" width="2400" height="980">
              <p>&lsquo;Just get up and go back to the van. Call a tow truck. Get the van fixed and go home.&rsquo;</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p12-f2.jpg" class="img-fluid" alt="page 12, frame 2" loading="lazy" width="2400" height="1372">
              <p>But then, suddenly, he feels it. The woods are watching him.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p12-f3.jpg" class="img-fluid" alt="page 12, frame 3" loading="lazy" width="2400" height="1130">
              <p>&lsquo;This is too much weirdness for one night.&rsquo; Wilson grits his teeth and suspects he&rsquo;s in for more trouble.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p13-f1.jpg" class="img-fluid" alt="page 13, frame 1" loading="lazy" width="2400" height="572">
              <p><em>bark scratch bark scratch bark scratch bark</em></p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p13-f2.jpg" class="img-fluid" alt="page 13, frame 2" loading="lazy" width="2400" height="1186">
              <p>A blur of red fur and ice flies from across the road.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p13-f3.jpg" class="img-fluid" alt="page 13, frame 3" loading="lazy" width="2400" height="920">
              <p>Slides up to him gracefully.</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="../images/v3/ice/p13-f4.jpg" class="img-fluid" alt="page 13, frame 4" loading="lazy" width="800" height="826">
              <p>Looks at him smugly.</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="../images/v3/ice/p13-f5.jpg" class="img-fluid" alt="page 13, frame 5" loading="lazy" width="800" height="826">
              <p>Lifts its little hands up.</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="../images/v3/ice/p13-f6.jpg" class="img-fluid" alt="page 13, frame 6" loading="lazy" width="800" height="826">
              <p>&ldquo;What do you think you&rsquo;re doing, <em>squirrel?</em>&nbsp;&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-8">
            <span class="ice-frame">
              <img src="../images/v3/ice/p14-f1.jpg" class="img-fluid" alt="page 14, frame 1" loading="lazy" width="1600" height="1812">
              <p>Before he can block, it lands the attack.</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="../images/v3/ice/p14-f2.jpg" class="img-fluid" alt="page 14, frame 2" loading="lazy" width="800" height="1812">
              <p>The icy blue refuse is overwhelming, Wilson drops into unconsciousness.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p14-f3.jpg" class="img-fluid" alt="page 14, frame 3" loading="lazy" width="2400" height="1784">
              <p>The rest of the squirrels move in.</p>
            </span>
          </div>

          <div class="col-3">
            <span class="ice-chapter-paging text-start"><a href="{{ "ice/ice-3.html" | prepend: site.baseurl }}" class="no-paginator">&laquo; 3: Wreck</a></span>
          </div>
          <div class="col-9">
            <span class="ice-chapter-paging text-end"><a href="{{ "ice/ice-5.html" | prepend: site.baseurl }}" class="no-paginator">5: Doom Slide &raquo;</a></span>
          </div>
        </div>
      </article>
    </div>
  </div>

</div>