---
layout: default
---
<div class="post">

  <div class="row g-0 row-cols-1 row-cols-lg-3">
    <div class="col-lg-3 bd-home-thumbs">
    <!-- deets -->
    <div class="article-desc article-desc-ice">
      <h1 class="text-center w-100 ps-4 pe-4 ps-lg-2 pe-lg-3 ps-xl-4 pe-xl-4">{{ page.title | smartify }}</h1>
      <p class="text-center w-100 ps-4 pe-4 ps-lg-2 pe-lg-3 ps-xl-4 pe-xl-4">{{ page.description | smartify }}</p>
  </div>
  <div class="pagination pagination-ice mb-4">
      <p class="text-center w-100"><strong>CHAPTER</strong></p>
      <p class="text-center w-100"><a href="{{ "ice/ice-2.html" | prepend: site.baseurl }}" class="no-paginator">1: Detour &raquo;</a></p>
  </div>

    </div>
    <div class="col-lg-9">
      <article class="post-content">
        <img src="{{ page.imgSrc }}" class="img-fluid" />
      </article>
    </div>
  </div>

</div>