---
layout: default
---
<div class="post">

  <div class="row g-0 row-cols-1 row-cols-lg-3">
    <div class="col-lg-4 bd-home-thumbs">
    <!-- deets -->
    <div class="article-desc">
      <h1 class="text-center w-100 ps-4 pe-4 ps-lg-2 pe-lg-3 ps-xl-4 pe-xl-4">{{ page.title | smartify }}</h1>
      <p class="text-center w-100 ps-4 pe-4 ps-lg-2 pe-lg-3 ps-xl-4 pe-xl-4">{{ page.description | smartify }}</p>
  </div>
  <div class="pagination mb-4">
      <p class="text-center w-100"><strong>
      <span id="bdPrev" class="me-2"></span> 
      <span id="bdCurrPage"></span>
        of 
      <span id="bdTotPage"></span>
      <span id="bdNext" class="ms-2"></span></strong>
      </p>
  </div>

    </div>
    <div class="col-lg-7">
      <article class="post-content ice-page">
        <div class="row g-0 row-cols-1 row-cols-lg-3">
          <div class="col-12">
            <img src="../images/v3/ice/p1-f1.jpeg" class="img-fluid" alt="page 1, frame 1">
            <p>Starting on the highway from Pittsburgh, the Kingdom family</p>
          </div>
          <div class="col-12 col-md-6">
            <img src="../images/v3/ice/p1-f2.jpeg" class="img-fluid" alt="page 1, frame 2">
            <p><strong>Wilson</strong> (Dad, 37, black),</p>
          </div>
          <div class="col-12 col-md-6">
            <img src="../images/v3/ice/p1-f3.jpeg" class="img-fluid" alt="page 1, frame 3">
            <p><strong>Monica</strong> (Mom, with a month til her due date, 35, white),</p>
          </div>
          <div class="col-12 col-md-6">
            <img src="../images/v3/ice/p1-f4.jpeg" class="img-fluid" alt="page 1, frame 4">
            <p><strong>Lucy</strong> (big sister, 10, black)</p>
          </div>
          <div class="col-12 col-md-6">
            <img src="../images/v3/ice/p1-f5.jpeg" class="img-fluid" alt="page 1, frame 5">
            <p>and <strong>Max</strong> (little brother, 7, black) are going home to Cincinatti.</p>
          </div>
          <div class="col-12">
            <img src="../images/v3/ice/p1-f6.jpeg" class="img-fluid" alt="page 1, frame 6">
            <p>In the middle of nowhere Monica informs Wilson they must find a bathroom <strong>now</strong>. </p>
          </div>
          <div class="col-12 col-md-6">
            <img src="../images/v3/ice/p1-f7.jpeg" class="img-fluid" alt="page 1, frame 7">
            <p>&ldquo;Honey, we&rsquo;re in the middle of nowhere.&rdquo;</p>
          </div>
          <div class="col-12 col-md-6">
            <img src="../images/v3/ice/p1-f8.jpeg" class="img-fluid" alt="page 1, frame 8">
            <p>&ldquo;Find one now or we&rsquo;re going to have a <strong>mess</strong>.&rdquo; Monica assures him.</p>
          </div>
        </div>
      </article>
    </div>
  </div>

</div>