---
layout: default
---
<div class="post">
    <div class="col">
      <article class="post-content ice-chapter">
        <a href="/ice/" class="no-paginator">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve">
          <path d="M3.5,11.2c-0.3,0-0.5,0.1-0.5,0.2s0.2,0.2,0.5,0.2h9c0.3,0,0.5-0.1,0.5-0.2s-0.2-0.2-0.5-0.2H3.5z M3,13.5c0-0.1,0.2-0.2,0.5-0.2h9c0.3,0,0.5,0.1,0.5,0.2s-0.2,0.2-0.5,0.2h-9C3.2,13.8,3,13.6,3,13.5 M3.5,7.2C3.2,7.2,3,7.3,3,7.5s0.2,0.2,0.5,0.2h9c0.3,0,0.5-0.1,0.5-0.2s-0.2-0.2-0.5-0.2H3.5z M3,9.5c0-0.1,0.2-0.2,0.5-0.2h9c0.3,0,0.5,0.1,0.5,0.2s-0.2,0.2-0.5,0.2h-9C3.2,9.8,3,9.6,3,9.5"/>
          <g><path d="M3.5,5.6l0.3-0.1c0.1,0,0.1,0,0.1-0.1c0,0,0-0.1,0-0.1V2.6c0-0.1,0-0.1,0-0.1c0,0-0.1,0-0.1-0.1L3.5,2.4V2H5v0.4L4.7,2.4c-0.1,0-0.1,0-0.1,0.1s0,0.1,0,0.1v2.6c0,0.1,0,0.1,0,0.1c0,0,0.1,0,0.1,0.1L5,5.6v0.4H3.5V5.6z"/>
          <path d="M6,5.5C5.6,5.1,5.5,4.7,5.5,4.1c0-0.4,0.1-0.8,0.2-1.1c0.2-0.3,0.4-0.6,0.7-0.7C6.7,2.1,7.1,2,7.5,2C7.8,2,8,2,8.2,2.1c0.2,0.1,0.4,0.1,0.6,0.2L8.7,3.2H8.3L8.2,2.6C7.9,2.5,7.7,2.4,7.3,2.4c-0.4,0-0.7,0.1-0.9,0.3C6.3,3,6.2,3.4,6.2,3.8c0,0.6,0.1,1,0.3,1.3c0.2,0.3,0.5,0.4,1,0.4c0.3,0,0.7-0.1,1.2-0.3l0.1,0.4C8.6,5.7,8.3,5.8,8.1,5.9C7.8,5.9,7.5,6,7.3,6C6.7,6,6.3,5.8,6,5.5z"/>
          <path d="M12.5,5.9H9.4V5.5l0.3,0c0.1,0,0.1,0,0.1-0.1c0,0,0-0.1,0-0.1V2.6c0-0.1,0-0.1,0-0.2c0,0-0.1,0-0.1-0.1l-0.3,0V2h3.1l0,1H12l0-0.4c0-0.1,0-0.1-0.1-0.1c0,0-0.1,0-0.2,0h-1.3v1.2h1.4v0.4h-1.4v1.4h1.3c0.1,0,0.1,0,0.2,0c0,0,0.1-0.1,0.1-0.1l0-0.4h0.4L12.5,5.9z"/></g>
        </svg>
        </a>
        <h2>1: Detour</h2>
        <span>&nbsp;</span>
      </article>
      <article class="post-content ice-page">
        <div class="row g-4 row-cols-1 row-cols-lg-3">
          <!-- p1 -->
          <div class="col-12">
            <span class="ice-frame">
              <img src="/images/v3/ice/p1-f1.jpg" class="img-fluid" alt="page 1, frame 1" loading="lazy" width="2400" height="864">
              <p>Traveling from Philadelphia, the Kingdom family,</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="/images/v3/ice/p1-f2.jpg" class="img-fluid" alt="page 1, frame 2" loading="lazy" width="1200" height="528">
              <p><strong>Wilson,</strong></p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="/images/v3/ice/p1-f3.jpg" class="img-fluid" alt="page 1, frame 3" loading="lazy" width="1200" height="528">
              <p><strong>Monica,</strong></p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="/images/v3/ice/p1-f4.jpg" class="img-fluid" alt="page 1, frame 4" loading="lazy" width="1200" height="530">
              <p><strong>Lucy,</strong></p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="/images/v3/ice/p1-f5.jpg" class="img-fluid" alt="page 1, frame 5" loading="lazy" width="1200" height="530">
              <p class="mx-xl-4">and <strong>Max</strong> are on their way home to Cincinnati after a lovely Christmas weekend with Wilson&rsquo;s parents.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="/images/v3/ice/p1-f6.jpg" class="img-fluid" alt="page 1, frame 6" loading="lazy" width="2400" height="578">
              <p>On the other side of Pittsburgh, Monica, who is eight months pregnant, informs Wilson they must find a bathroom <em>now</em>.</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="/images/v3/ice/p1-f7.jpg" class="img-fluid" alt="page 1, frame 7" loading="lazy" width="1200" height="886">
              <p>&ldquo;Babe, we&rsquo;re in the middle of nowhere.&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="/images/v3/ice/p1-f8.jpg" class="img-fluid" alt="page 1, frame 8" loading="lazy" width="1200" height="886">
              <p class="mx-xl-5">&ldquo;Find one now or we&rsquo;re going to have a mess,&rdquo; Monica assures him.</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="/images/v3/ice/p2-f1.jpg" class="img-fluid" alt="page 2, frame 1" loading="lazy" width="1200" height="886">
              <p class="mx-xl-5">Luckily, there&rsquo;s a random exit with what looks to be a gas station three miles off the highway.</p>
            </span>
          </div>
          <!-- p2 -->
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="/images/v3/ice/p2-f2.jpg" class="img-fluid" alt="page 2, frame 2" loading="lazy" width="1200" height="886">
              <p class="mx-xl-5">As they drive down a country road, that three miles seems a lot farther.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="/images/v3/ice/p2-f3.jpg" class="img-fluid" alt="page 2, frame 3" loading="lazy" width="2400" height="1100">
              <p class="mx-xl-5 ice-mx-xl-70"> &ldquo;Oh-oh-oh,&rdquo; Monica declares, &ldquo;I&rsquo;m about to <em>pop!</em>&nbsp;&rdquo; Wilson replies, &ldquo;that highway sign said three miles but I know we&rsquo;ve gone five already.&rdquo;</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="/images/v3/ice/p2-f4.jpg" class="img-fluid" alt="page 2, frame 4" loading="lazy" width="2400" height="1510">
              <p>Then, around a curve, there it is &mdash; an old gas station, <strong>Chad&rsquo;s Gas &amp; Grill</strong>. They pull over.</p>
            </span>
          </div>
          <!-- p3 -->
          <div class="col-12">
            <span class="ice-frame">
              <img src="/images/v3/ice/p3-f1.jpg" class="img-fluid" alt="page 3, frame 1" loading="lazy" width="2400" height="1044">
              <p>Monica bursts from the family van.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="/images/v3/ice/p3-f2.jpg" class="img-fluid" alt="page 3, frame 2" loading="lazy" width="2400" height="794">
              <p>The rest of them make their way inside.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="/images/v3/ice/p3-f3.jpg" class="img-fluid" alt="page 3, frame 3" loading="lazy" width="2400" height="792">
              <p>The kids tell each other all the snacks they&rsquo;ll get and&hellip;</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="/images/v3/ice/p3-f4.jpg" class="img-fluid" alt="page 3, frame 4" loading="lazy" width="2400" height="794">
              <p>head straight for the junk food aisle.</p>
            </span>
          </div>
          <!-- p4 -->
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="/images/v3/ice/p4-f1.jpg" class="img-fluid" alt="page 4, frame 1" loading="lazy" width="1200" height="1120">
              <p class="mx-xl-5">Wilson approaches the counter. A scruffy guy greets him. &ldquo;Hey buddy, what cha need?&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="/images/v3/ice/p4-f2.jpg" class="img-fluid" alt="page 4, frame 2" loading="lazy" width="1200" height="1120">
              <p class="mx-xl-5">&ldquo;I&rsquo;ll take $40 on pump two out there plus whatever snacks the kids decide on.&rdquo;</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="/images/v3/ice/p4-f3.jpg" class="img-fluid" alt="page 4, frame 3" loading="lazy" width="2400" height="1510">
              <p>Wilson laughs a little as he turns to look at Lucy and Max.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="/images/v3/ice/p4-f4.jpg" class="img-fluid" alt="page 4, frame 4" loading="lazy" width="2400" height="880">
              <p>Scruffy guy says, &ldquo;Sure buddy. Hey, got a question for ya.&rdquo;</p>
            </span>
          </div>
          <div class="col-6">
            <span class="ice-chapter-paging text-start"><a href="/ice/" class="no-paginator">&laquo; Cover</a></span>
          </div>
          <div class="col-6">
            <span class="ice-chapter-paging text-end link-disabled"><a href="/ice/ice-2.html" class="no-paginator">2: Creepy &raquo;</a></span>
          </div>
        </div>
      </article>
    </div>
  </div>

</div>