---
layout: default
---
<div class="post">

  <div class="row g-0 row-cols-1 row-cols-lg-3">
    <!-- logo -->
    <div class="col-lg-4 bd-home-thumbs">
    <!-- deets -->
    <div class="article-desc">
      <h1 class="text-center w-100 ps-2 pe-2 ps-lg-2 pe-lg-3 ps-xl-4 pe-xl-4 lh-1">{{ page.title | smartify }}</h1>
      <p class="text-center w-100 ps-2 pe-2 ps-lg-2 pe-lg-3 ps-xl-4 pe-xl-4">{{ page.description | smartify }}</p>
  </div>
  <div class="pagination mb-4">
      <p class="text-center w-100"><strong>
      <span id="bdPrev" class="me-2"></span> 
      <span id="bdCurrPage"></span>
        of 
      <span id="bdTotPage"></span>
      <span id="bdNext" class="ms-2"></span></strong>
      </p>
  </div>

    </div>
    <div class="col-lg-7">
      <article class="post-content">
        <img src="{{ page.imgSrc }}" class="img-fluid" />
      </article>
    </div>
  </div>

</div>