---
layout: default
---
<div class="post">

  <div class="row g-0 row-cols-1 row-cols-lg-3">
    <div class="col-lg-3">
    <!-- deets -->
    <div class="article-desc article-desc-ice mb-4">
      <h1 class="text-center w-100 ps-4 pe-4 ps-lg-2 pe-lg-3 ps-xl-4 pe-xl-4">{{ page.title | smartify }}</h1>
      <p class="text-center w-100 ps-4 pe-4 ps-lg-2 pe-lg-3 ps-xl-4 pe-xl-4">{{ page.description | smartify }}</p>
  </div>
  <div class="pagination pagination-ice mb-4">
      <p class="text-center w-100"><strong>CHAPTERS</strong></p>
      <div class="row">
        <div class="col-6 col-lg-12">
          <p class="text-center w-100"><a href="{{ "ice/ice-1.html" | prepend: site.baseurl }}" class="no-paginator">1: Detour</a></p>
          <p class="text-center w-100"><a href="{{ "ice/ice-2.html" | prepend: site.baseurl }}" class="no-paginator">2: Creepy</a></p>
          <p class="text-center w-100"><a href="{{ "ice/ice-3.html" | prepend: site.baseurl }}" class="no-paginator">3: Wreck</a></p>
        </div>
        <div class="col-6 col-lg-12">
          <p class="text-center w-100"><a href="{{ "ice/ice-4.html" | prepend: site.baseurl }}" class="no-paginator">4: Ambush</a></p>
          <p class="text-center w-100"><span class="link-disabled">5: Doom Slide</span></p>
        </div>  
      </div>
    </div>

    </div>
    <div class="col-lg-9">
      <article class="post-content">
        <a href="{{ "ice/ice-1.html" | prepend: site.baseurl }}"><img src="{{ page.imgSrc }}" class="ice-home-img img-fluid" /></a>
      </article>
    </div>
  </div>

</div>