---
layout: default
---
<div class="post">
    <div class="col">
      <article class="post-content ice-chapter">
        <h2>7: Questioning</h2>
      </article>
      <article class="post-content ice-page">
        <div class="row g-4 row-cols-1 row-cols-lg-3">
          <!-- p18 -->
          <div class="col-12">
            <span class="ice-frame">
              <img src="/images/v3/ice/p20-f4.jpg" class="img-fluid" alt="page 20, frame 4" loading="lazy" width="2400" height="952">
              <p>Pittsville. A small town that&rsquo;s only getting smaller.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="/images/v3/ice/p20-f5.jpg" class="img-fluid" alt="page 20, frame 5" loading="lazy" width="2400" height="776">
              <p>With a modest building for its modest force.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="/images/v3/ice/p21-f1.jpg" class="img-fluid" alt="page 21, frame 1" loading="lazy" width="2400" height="912">
              <p>Inside, Lucy paces and Max slouches while they wait for their Mom.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="/images/v3/ice/p21-f2.jpg" class="img-fluid" alt="page 21, frame 2" loading="lazy" width="2400" height="1682">
              <p>&ldquo;Yep, something is definitely not right about this place, Max.&rdquo; Lucy confirms.</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="/images/v3/ice/p21-f3.jpg" class="img-fluid" alt="page 21, frame 3" loading="lazy" width="800" height="954">
              <p>&ldquo;How come you got so many lost dogs and cats in this town?&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="/images/v3/ice/p21-f4.jpg" class="img-fluid" alt="page 21, frame 4" loading="lazy" width="800" height="954">
              <p class="mx-xl-4">&ldquo;Well, you see, we got a lot of bobcats out in the woods around here, sweetie.&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="/images/v3/ice/p21-f5.jpg" class="img-fluid" alt="page 21, frame 5" loading="lazy" width="800" height="954">
              <p class="mx-xl-4">&ldquo;I don&rsquo;t think that&rsquo;s it. Sugar.&rdquo; She mutters to herself.</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="/images/v3/ice/p22-f1.jpg" class="img-fluid" alt="page 22, frame 1" loading="lazy" width="800" height="1200">
              <p>Down the hall, there are many questions.</p>
            </span>
          </div>
          <div class="col-12 col-md-8">
            <span class="ice-frame">
              <img src="/images/v3/ice/p22-f2.jpg" class="img-fluid" alt="page 22, frame 2" loading="lazy" width="1600" height="1200">
              <p class="mx-xl-4">&ldquo;So, Mrs. Kingdom, you say that you stopped at Chad&rsquo;s for gas and a break? Then you got back on the road? Then you slid into the ditch? Then Wilson gets out of the van to check on things and that&rsquo;s the last you saw of him?&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="/images/v3/ice/p22-f3.jpg" class="img-fluid" alt="page 22, frame 3" loading="lazy" width="1200" height="1016">
              <p class="mx-xl-4">&ldquo;Yes that&rsquo;s correct. That&rsquo;s what happened.&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="/images/v3/ice/p22-f4.jpg" class="img-fluid" alt="page 22, frame 4" loading="lazy" width="1200" height="1016">
              <p>&ldquo;Ok, well now, I do have to ask, Mrs. Kingdom, would your husband have any reason to want to <em><strong>run off</strong></em>&nbsp; and leave you and the kids?&rdquo;</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="/images/v3/ice/p22-f5.jpg" class="img-fluid" alt="page 22, frame 5" loading="lazy" width="2400" height="1368">
              <p>&ldquo;In the middle of an ice storm? In the middle of nowhere? <em>No</em>.&rdquo; Monica raises her voice. &ldquo;Everything is fine at home. We are very happily married and as you can obviously see, we are working very hard to increase the size of our family. So no, he hasn&rsquo;t <em><strong>run off</strong></em>. &rdquo;</p>
            </span>
          </div>

          <div class="col-6">
            <span class="ice-chapter-paging text-start"><a href="/ice/ice-6.html" class="no-paginator">&laquo; 6: Responders</a></span>
          </div>
          <div class="col-6">
            <span class="ice-chapter-paging text-end link-disabled">8: Below</span>
          </div>
        </div>
      </article>
    </div>
  </div>

</div>