---
layout: default
---
<div class="post">
    <div class="col">
      <article class="post-content ice-chapter">
        <a href="/ice/" class="no-paginator">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve">
            <path d="M3.5,11.2c-0.3,0-0.5,0.1-0.5,0.2s0.2,0.2,0.5,0.2h9c0.3,0,0.5-0.1,0.5-0.2s-0.2-0.2-0.5-0.2H3.5z M3,13.5c0-0.1,0.2-0.2,0.5-0.2h9c0.3,0,0.5,0.1,0.5,0.2s-0.2,0.2-0.5,0.2h-9C3.2,13.8,3,13.6,3,13.5 M3.5,7.2C3.2,7.2,3,7.3,3,7.5s0.2,0.2,0.5,0.2h9c0.3,0,0.5-0.1,0.5-0.2s-0.2-0.2-0.5-0.2H3.5z M3,9.5c0-0.1,0.2-0.2,0.5-0.2h9c0.3,0,0.5,0.1,0.5,0.2s-0.2,0.2-0.5,0.2h-9C3.2,9.8,3,9.6,3,9.5"/>
            <g><path d="M3.5,5.6l0.3-0.1c0.1,0,0.1,0,0.1-0.1c0,0,0-0.1,0-0.1V2.6c0-0.1,0-0.1,0-0.1c0,0-0.1,0-0.1-0.1L3.5,2.4V2H5v0.4L4.7,2.4c-0.1,0-0.1,0-0.1,0.1s0,0.1,0,0.1v2.6c0,0.1,0,0.1,0,0.1c0,0,0.1,0,0.1,0.1L5,5.6v0.4H3.5V5.6z"/>
            <path d="M6,5.5C5.6,5.1,5.5,4.7,5.5,4.1c0-0.4,0.1-0.8,0.2-1.1c0.2-0.3,0.4-0.6,0.7-0.7C6.7,2.1,7.1,2,7.5,2C7.8,2,8,2,8.2,2.1c0.2,0.1,0.4,0.1,0.6,0.2L8.7,3.2H8.3L8.2,2.6C7.9,2.5,7.7,2.4,7.3,2.4c-0.4,0-0.7,0.1-0.9,0.3C6.3,3,6.2,3.4,6.2,3.8c0,0.6,0.1,1,0.3,1.3c0.2,0.3,0.5,0.4,1,0.4c0.3,0,0.7-0.1,1.2-0.3l0.1,0.4C8.6,5.7,8.3,5.8,8.1,5.9C7.8,5.9,7.5,6,7.3,6C6.7,6,6.3,5.8,6,5.5z"/>
            <path d="M12.5,5.9H9.4V5.5l0.3,0c0.1,0,0.1,0,0.1-0.1c0,0,0-0.1,0-0.1V2.6c0-0.1,0-0.1,0-0.2c0,0-0.1,0-0.1-0.1l-0.3,0V2h3.1l0,1H12l0-0.4c0-0.1,0-0.1-0.1-0.1c0,0-0.1,0-0.2,0h-1.3v1.2h1.4v0.4h-1.4v1.4h1.3c0.1,0,0.1,0,0.2,0c0,0,0.1-0.1,0.1-0.1l0-0.4h0.4L12.5,5.9z"/></g>
          </svg>
        </a>
        <h2>3: Wreck</h2>
        <span>&nbsp;</span>
      </article>
      <article class="post-content ice-page">
        <div class="row g-4 row-cols-1 row-cols-lg-3">
          <!-- p5 -->
          <div class="col-12">
            <span class="ice-frame">
              <img src="/images/v3/ice/p8-f1.jpg" class="img-fluid" alt="page 8, frame 1" loading="lazy" width="2400" height="578">
              <p><em>fooosh</em></p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="/images/v3/ice/p8-f2.jpg" class="img-fluid" alt="page 8, frame 2" loading="lazy" width="1200" height="538">
              <p class="mx-xl-4">&lsquo;I swear the road wasn&rsquo;t this curvy on the way in.&rsquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="/images/v3/ice/p8-f3.jpg" class="img-fluid" alt="page 8, frame 3" loading="lazy" width="1200" height="538">
              <p class="mx-xl-4"><em>thunk thunk thunk thunk thunk thunk</em></p>             
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="/images/v3/ice/p8-f4.jpg" class="img-fluid" alt="page 8, frame 4" loading="lazy" width="1200" height="538">
              <p class="mx-xl-4">&lsquo;I shouldn&rsquo;t be doing this. I can barely see the road. Woah! This curve is way too tight!&rsquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="/images/v3/ice/p8-f5.jpg" class="img-fluid" alt="page 8, frame 5" loading="lazy" width="1200" height="538">
              <p class="mx-xl-4"><em>kooosh</em></p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="/images/v3/ice/p8-f6.jpg" class="img-fluid" alt="page 8, frame 6" loading="lazy" width="1200" height="888">
              <p>Total loss of traction.</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="/images/v3/ice/p8-f7.jpg" class="img-fluid" alt="page 8, frame 7" loading="lazy" width="1200" height="888">
              <p>Total loss of control.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="/images/v3/ice/p8-f8.jpg" class="img-fluid" alt="page 8, frame 8" loading="lazy" width="2400" height="864">
              <p>And they&rsquo;re in the ditch.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="/images/v3/ice/p9-f1.jpg" class="img-fluid" alt="page 9, frame 1" loading="lazy" width="2400" height="852">
              <p>Wilson panics. &ldquo;Is everyone ok? Monica are you ok? Lucy?!? Max ?!?&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="/images/v3/ice/p9-f2.jpg" class="img-fluid" alt="page 9, frame 2" loading="lazy" width="1200" height="882">
              <p>&ldquo;Yes, I <em>think</em> &nbsp;we're ok.&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="/images/v3/ice/p9-f3.jpg" class="img-fluid" alt="page 9, frame 3" loading="lazy" width="1200" height="882">
              <p>&ldquo;Yeah, Dad, we&rsquo;re ok, other than the chocolate milk and pop bath we just got. <em>Gross</em>.&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="/images/v3/ice/p9-f4.jpg" class="img-fluid" alt="page 9, frame 4" loading="lazy" width="1200" height="882">
              <p>&ldquo;This weather is horrible. There was nothing like this in the forecast when we left your parents&rsquo; house. I feel awful dragging us out here for a potty break. I&rsquo;ll find us a tow truck service.&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="/images/v3/ice/p9-f5.jpg" class="img-fluid" alt="page 9, frame 5" loading="lazy" width="1200" height="882">
              <p>&ldquo;Now, just wait a minute &mdash; let me get out and see what the situation is. Maybe we can get back on the road.&rdquo;</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="/images/v3/ice/p9-f6.jpg" class="img-fluid" alt="page 9, frame 6" loading="lazy" width="2400" height="850">
              <p>&ldquo;Just give me a chance to look.&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="/images/v3/ice/p10-f1.jpg" class="img-fluid" alt="page 10, frame 1" loading="lazy" width="1200" height="1114">
              <p>Out of the van, Wilson can see that they are indeed stuck. The left front tire is badly bent up and under the van.</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="/images/v3/ice/p10-f2.jpg" class="img-fluid" alt="page 10, frame 2" loading="lazy" width="1200" height="1114">
              <p>He decides to look around. The ice and sleet ease up some so he can see down the road better.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="/images/v3/ice/p10-f3.jpg" class="img-fluid" alt="page 10, frame 3" loading="lazy" width="2400" height="842">
              <p>They must have skidded more than a hundred feet into the ditch.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="/images/v3/ice/p10-f4.jpg" class="img-fluid" alt="page 10, frame 4" loading="lazy" width="2400" height="1524">
              <p>How is it possible that so much ice accumulated so quickly?</p>
            </span>
          </div>
          <div class="col-12 col-md-8">
            <span class="ice-frame">
              <img src="/images/v3/ice/p11-f1.jpg" class="img-fluid" alt="page 11, frame 1" loading="lazy" width="1600" height="946">
              <p>&lsquo;It is cold. <em>Really cold.</em> And Monica, as usual, knows best. We&rsquo;ll have to call a tow truck to get us out of this mess.&rsquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="/images/v3/ice/p11-f2.jpg" class="img-fluid" alt="page 11, frame 2" loading="lazy" width="800" height="946">
              <p>Wilson turns to head back to the van.</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="/images/v3/ice/p11-f3.jpg" class="img-fluid" alt="page 11, frame 3" loading="lazy" width="800" height="946">
              <p>Easy now.</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="/images/v3/ice/p11-f4.jpg" class="img-fluid" alt="page 11, frame 4" loading="lazy" width="800" height="946">
              <p>Trying to stabilize.</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="/images/v3/ice/p11-f5.jpg" class="img-fluid" alt="page 11, frame 5" loading="lazy" width="800" height="946">
              <p>And failing.</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="/images/v3/ice/p11-f6.jpg" class="img-fluid" alt="page 11, frame 6" loading="lazy" width="800" height="1724">
              <p><em>ka crunch crack</em></p>
            </span>
          </div>
          <div class="col-12 col-md-8">
            <span class="ice-frame">
              <img src="/images/v3/ice/p11-f7.jpg" class="img-fluid" alt="page 11, frame 7" loading="lazy" width="1600" height="1724">
              <p>&ldquo;Ooooo, my back.&rdquo; Wilson exhales the pain and frustration.</p>
            </span>
          </div>

          <div class="col-6">
            <span class="ice-chapter-paging text-start"><a href="/ice/ice-2.html" class="no-paginator">&laquo; 2: Creepy</a></span>
          </div>
          <div class="col-6">
            <span class="ice-chapter-paging text-end"><a href="/ice/ice-4.html" class="no-paginator">4: Ambush &raquo;</a></span>
          </div>
        </div>
      </article>
    </div>
  </div>

</div>