---
layout: default
---
<div class="post">
    <div class="col">
      <article class="post-content ice-chapter">
        <h2>5: Doom Slide</h2>
      </article>
      <article class="post-content ice-page">
        <div class="row g-0 row-cols-1 row-cols-lg-3">
          <!-- p15 -->
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="../images/v3/ice/p15-f1.jpg" class="img-fluid" alt="page 15, frame 1" loading="lazy" width="800" height="1222">
              <p>They must work quickly.</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="../images/v3/ice/p15-f2.jpg" class="img-fluid" alt="page 15, frame 2" loading="lazy" width="800" height="1222">
              <p class="mx-xl-4">&ldquo;Why is your father taking <em>so loooong</em> out there? And Lucy, why are you unbuckled?&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="../images/v3/ice/p15-f3.jpg" class="img-fluid" alt="page 15, frame 3" loading="lazy" width="800" height="1222">
              <p class="mx-xl-4">One squirrel directs the efforts from atop Wilson.</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="../images/v3/ice/p15-f4.jpg" class="img-fluid" alt="page 15, frame 4" loading="lazy" width="800" height="1222">
              <p>&ldquo;I&rsquo;ve got to change out of these clothes mom, they&rsquo;re disgusting. I&rsquo;m getting my bag.&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="../images/v3/ice/p15-f5.jpg" class="img-fluid" alt="page 15, frame 5" loading="lazy" width="800" height="1222">
              <p>Boots are secured with a well designed rig of vines.</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="../images/v3/ice/p15-f6.jpg" class="img-fluid" alt="page 15, frame 6" loading="lazy" width="800" height="1222">
              <p>&ldquo;Oh it ain&rsquo;t that bad, big sis, just a little soggy.&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="../images/v3/ice/p15-f7.jpg" class="img-fluid" alt="page 15, frame 7" loading="lazy" width="800" height="1222">
              <p>A pathway is iced.</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="../images/v3/ice/p15-f8.jpg" class="img-fluid" alt="page 15, frame 8" loading="lazy" width="800" height="1222">
              <p>&ldquo;<em>Quiet kids.</em> Uh, yes, is this Ralph&rsquo;s towing service? Oh great, we are in some big trouble. We slid off the road on OH-800 about two miles from exit 202 off of I-70.&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="../images/v3/ice/p15-f9.jpg" class="img-fluid" alt="page 15, frame 9" loading="lazy" width="800" height="1812">
              <p>The descent begins.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p16-f1.jpg" class="img-fluid" alt="page 16, frame 1" loading="lazy" width="2400" height="3598">
              <p>With great care, the squirrels slide Wilson into the woods.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p17-f1.jpg" class="img-fluid" alt="page 17, frame 1" loading="lazy" width="2400" height="580">
              <p>The mammalian caravan travels far from the roadside.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p17-f2.jpg" class="img-fluid" alt="page 17, frame 2" loading="lazy" width="2400" height="1052">
              <p>Around a curve there&rsquo;s a large pile of enormous rocks. Nestled at the center is the squirrel&rsquo;s secret destination.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p17-f3.jpg" class="img-fluid" alt="page 17, frame 3" loading="lazy" width="2400" height="986">
              <p>Wilson&rsquo;s crossed arms and chest are too much to fit through the cave entrance. They&rsquo;ll need to be untied and maneuvered just right.</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p17-f4.jpg" class="img-fluid" alt="page 17, frame 4" loading="lazy" width="1200" height="888">
              <p>Success, the squirrels twist him into the hole.</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p17-f5.jpg" class="img-fluid" alt="page 17, frame 5" loading="lazy" width="1200" height="888">
              <p>One of the dogs, a pit bull named Rosie, stays back for one last check of the surroundings before entering the cave.</p>
            </span>
          </div>

          <div class="col-3">
            <span class="ice-chapter-paging text-start"><a href="{{ "ice/ice-4.html" | prepend: site.baseurl }}" class="no-paginator">&laquo; 4: Ambush</a></span>
          </div>
          <div class="col-9">
            <span class="ice-chapter-paging text-end link-disabled">6: Responders</span>
          </div>
        </div>
      </article>
    </div>
  </div>

</div>