---
layout: default-no-sidebar
---
<div class="post">

  <article class="post-content">
    {{ content }}
  </article>
    <div class="row">
    <div class="col-md-6 article-desc">
        <p>{{ page.title }}</p>
        <p>{{ page.description }}</p>
    </div>
    <div class="col-md-6 pagination">
        <p>
        <span id="bdPrev"></span>
        Page: 
        <span id="bdCurrPage"></span>
        of 
        <span id="bdTotPage"></span>
        <span id="bdNext"></span>
        </p>
        <p><strong>Sets:</strong> <a href="{{ "campbell/campbell-1.html" | prepend: site.baseurl }}">Campbell Magazine</a> | <a href="{{ "hatch/hatch-1.html" | prepend: site.baseurl }}">Hatch Effect</a> | <a href="{{ "izaak/izaak-1.html" | prepend: site.baseurl }}">Izaak Walton League</a> | <a href="{{ "kids/kids-1.html" | prepend: site.baseurl }}">Kids</a> | <a href="{{ "nature/nature-1.html" | prepend: site.baseurl }}">Nature&rsquo;s Delight</a> | <a href="{{ "guada/guada-1.html" | prepend: site.baseurl }}">Guada MX</a></p>
    </div>
    </div>

</div>