---
layout: default
---
<div class="post">

  <div class="row g-0 row-cols-1 row-cols-lg-3">
    <div class="col-lg-4 bd-home-thumbs">
    <!-- deets -->
    <div class="article-desc">
      <h1 class="text-center w-100 ps-4 pe-4 ps-lg-2 pe-lg-3 ps-xl-4 pe-xl-4">{{ page.title | smartify }}</h1>
      <p class="text-center w-100 ps-4 pe-4 ps-lg-2 pe-lg-3 ps-xl-4 pe-xl-4">{{ page.description | smartify }}</p>
  </div>
  <div class="pagination mb-4">
      <p class="text-center w-100"><strong>
      <span id="bdPrev" class="me-2"></span> 
      <span id="bdCurrPage"></span>
        of 
      <span id="bdTotPage"></span>
      <span id="bdNext" class="ms-2"></span></strong>
      </p>
  </div>

    </div>
    <div class="col-lg-7">
      <article class="post-content ice-page">
        <div class="row g-0 row-cols-1 row-cols-lg-3">
          <div class="col-12">
            <img src="../images/v3/ice/p1-f1.jpg" class="img-fluid" alt="page 1, frame 1">
            <p>Starting on the highway from Pittsburgh, the Kingdom family;</p>
          </div>
          <div class="col-12 col-md-6">
            <img src="../images/v3/ice/p1-f2.jpg" class="img-fluid" alt="page 1, frame 2">
            <p><strong>Wilson,</strong></p>
          </div>
          <div class="col-12 col-md-6">
            <img src="../images/v3/ice/p1-f3.jpg" class="img-fluid ps-md-1" alt="page 1, frame 3">
            <p><strong>Monica,</strong></p>
          </div>
          <div class="col-12 col-md-6">
            <img src="../images/v3/ice/p1-f4.jpg" class="img-fluid" alt="page 1, frame 4">
            <p><strong>Lucy</strong></p>
          </div>
          <div class="col-12 col-md-6">
            <img src="../images/v3/ice/p1-f5.jpg" class="img-fluid ps-md-1" alt="page 1, frame 5">
            <p>and <strong>Max</strong> are going home to Cincinatti.</p>
          </div>
          <div class="col-12">
            <img src="../images/v3/ice/p1-f6.jpg" class="img-fluid" alt="page 1, frame 6">
            <p>In the middle of nowhere Monica, who is eight months pregnant, informs Wilson they must find a bathroom <strong>now</strong>. </p>
          </div>
          <div class="col-12 col-md-6">
            <img src="../images/v3/ice/p1-f7.jpg" class="img-fluid" alt="page 1, frame 7">
            <p>&ldquo;Honey, we&rsquo;re in the middle of nowhere.&rdquo;</p>
          </div>
          <div class="col-12 col-md-6">
            <img src="../images/v3/ice/p1-f8.jpg" class="img-fluid ps-md-1" alt="page 1, frame 8">
            <p>&ldquo;Find one now or we&rsquo;re going to have a <strong>mess</strong>.&rdquo; Monica assures him.</p>
          </div>
          <div class="col-12 col-md-6">
            <img src="../images/v3/ice/p2-f1.jpg" class="img-fluid" alt="page 1, frame 7">
            <p>Luckily there&rsquo;s a random exit with what looks to be a gas station 3 miles off the highway.</p>
          </div>
          <div class="col-12 col-md-6">
            <img src="../images/v3/ice/p2-f2.jpg" class="img-fluid ps-md-1" alt="page 1, frame 8">
            <p>As they drive down a country road that 3 miles seems a lot further.</p>
          </div>
          <div class="col-12">
            <img src="../images/v3/ice/p2-f3.jpg" class="img-fluid" alt="page 1, frame 6">
            <p>Wilson remarks &ldquo;Gosh that highway sign said 3 miles but it feels like we’ve gone 5 already&rdquo;.  &ldquo;Oh oh oh&rdquo; Monica stresses, &ldquo;I&rsquo;m about to <strong>pop!</strong>&rdquo;.</p>
          </div>
          <div class="col-12">
            <img src="../images/v3/ice/p2-f4.jpg" class="img-fluid" alt="page 1, frame 6">
            <p>Then around a curve there it is, an old dilapidated gas station. They pull over.</p>
          </div>
        </div>
      </article>
    </div>
  </div>

</div>