---
layout: default
---
<div class="post">
    <div class="col">
      <article class="post-content ice-chapter">
        <h2>2: Meanness</h2>
      </article>
      <article class="post-content ice-page">
        <div class="row g-0 row-cols-1 row-cols-lg-3">
          <!-- p5 -->
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="../images/v3/ice/p5-f1.jpg" class="img-fluid" alt="page 5, frame 1" loading="lazy" width="800" height="828">
              <p>&ldquo;Why so many kids?&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="../images/v3/ice/p5-f2.jpg" class="img-fluid" alt="page 5, frame 2" loading="lazy" width="800" height="828">
              <p class="mx-xl-4">&ldquo;Uh, well, you know. We love our children and wanted to have more.&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="../images/v3/ice/p5-f3.jpg" class="img-fluid" alt="page 5, frame 3" loading="lazy" width="800" height="828">
              <p class="mx-xl-4">&ldquo;Yeah, but, a lot of mouths to feed. You couldn&rsquo;t settle for just two or one or maybe even <em>none?</em> &rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="../images/v3/ice/p5-f4.jpg" class="img-fluid" alt="page 5, frame 4" loading="lazy" width="800" height="828">
              <p class="mx-xl-4">&ldquo;My family is none of your business. We&rsquo;ll settle things here and be on our way real soon, pal.&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="../images/v3/ice/p5-f5.jpg" class="img-fluid" alt="page 5, frame 5" loading="lazy" width="800" height="828">
              <p>&ldquo;That will be just fine, buddy. Careful out there though, roads are looking bad.&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="../images/v3/ice/p5-f6.jpg" class="img-fluid" alt="page 5, frame 6" loading="lazy" width="800" height="828">
              <p>&ldquo;We&rsquo;ll manage.&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-8">
            <span class="ice-frame">
              <img src="../images/v3/ice/p5-f7.jpg" class="img-fluid" alt="page 5, frame 7" loading="lazy" width="1600" height="944">
              <p class="mx-xl-4">Monica emerges from the bathroom, feeling much better.</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="../images/v3/ice/p5-f8.jpg" class="img-fluid" alt="page 5, frame 8" loading="lazy" width="800" height="944">
              <p>&ldquo;Thank you sir, I needed that <em>big time</em>.&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="../images/v3/ice/p5-f9.jpg" class="img-fluid" alt="page 5, frame 9" loading="lazy" width="800" height="955">
              <p>&ldquo;Yes ma&rsquo;am.&rdquo;</p>
            </span>
          </div>
          <div class="col-12 col-md-8">
            <span class="ice-frame">
              <img src="../images/v3/ice/p5-f10.jpg" class="img-fluid" alt="page 5, frame 10" loading="lazy" width="1600" height="955">
              <p>Wilson completes the purchase and they all exit the station.</p>
            </span>
          </div>
          <!-- p6 -->
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p6-f1.jpg" class="img-fluid" alt="page 6, frame 1" loading="lazy" width="2400" height="1108">
              <p>At the pump, Wilson fills the tank and mulls the station interaction.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p6-f2.jpg" class="img-fluid" alt="page 6, frame 2" loading="lazy" width="2400" height="1104">
              <p>He thinks, I bet that dude is leering at us through the window right now.</p>
            </span>
          </div>
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p6-f3.jpg" class="img-fluid" alt="page 6, frame 3" loading="lazy" width="2400" height="1278">
              <p>But I don&rsquo;t care. Lucy and Max are <em>amazing</em> and their little brother will be too.</p>
            </span>
          </div>
          <!-- p7 -->
          <div class="col-12">
            <span class="ice-frame">
              <img src="../images/v3/ice/p7-f1.jpg" class="img-fluid" alt="page 7, frame 1" loading="lazy" width="2400" height="1106">
              <p>&ldquo;Everyone ready to get out of here and back home?&rdquo; he asks. The kids respond, &ldquo;Yeah Dad, let&rsquo;s get outta here!&rdquo; </p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p7-f2.jpg" class="img-fluid" alt="page 7, frame 2" loading="lazy" width="1200" height="918">
              <p class="mx-xl-4">&ldquo;Thanks again for stopping, honey.&rdquo; Monica can tell something&rsquo;s bothering Wilson.</p>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="ice-frame">
              <img src="../images/v3/ice/p7-f3.jpg" class="img-fluid" alt="page 7, frame 3" loading="lazy" width="1200" height="918">
              <p class="mx-xl-4">Maybe it&rsquo;s just the bad weather? But what <em>was</em> going on between him and that clerk?</p>
            </span>
          </div>
          <div class="col-12 col-md-8">
            <span class="ice-frame">
              <img src="../images/v3/ice/p7-f4.jpg" class="img-fluid" alt="page 7, frame 4" loading="lazy" width="1600" height="1502">
              <p>As they head back to the main highway, ice and sleet have really picked up again.</p>
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="ice-frame">
              <img src="../images/v3/ice/p7-f5.jpg" class="img-fluid" alt="page 7, frame 5" loading="lazy" width="800" height="1502">
              <p class="mx-xl-4">Wilson adjusts his speed down, determined to push through the storm.</p>
            </span>
          </div>
          <div class="col-3">
            <span class="ice-chapter-paging text-start"><a href="{{ "ice/ice-1.html" | prepend: site.baseurl }}" class="no-paginator">&laquo; 1: Detour</a></span>
          </div>
          <div class="col-9">
            <span class="ice-chapter-paging text-end link-disabled">3: Wreck</span>
          </div>
        </div>
      </article>
    </div>
  </div>

</div>